@model LetsShopping.ViewModels.ApiViewModel
@{
    ViewData["Title"] = "Product Page";
}

<div>

    <h3 class="text-center p-3">Products</h3>

    <table class="table">
        <tr class="row justify-content-md-center">
            <th class="col">@Html.DisplayNameFor(x => x.Orders[0].OrderID)</th>
            <th class="col">@Html.DisplayNameFor(x => x.Orders[0].OrderDate)</th>
            <th class="col">@Html.DisplayNameFor(x => x.Orders[0].CustomerName)</th>
            <th class="col">@Html.DisplayNameFor(x => x.Orders[0].DeliveryAddress)</th>
            <th class="col">@Html.DisplayNameFor(x => x.Orders[0].DeliveredDate)</th>
            <th class="col">@Html.DisplayNameFor(x => x.Orders[0].Quantity)</th>
        </tr>
        @foreach (var order in Model.Orders)
        {
            <tr class="row justify-content-md-center">
                <td class="col">@Html.DisplayFor(x => order.OrderID)</td>
                <td class="col">@Html.DisplayFor(x => order.OrderDate)</td>
                <td class="col">@Html.DisplayFor(x => order.CustomerName)</td>
                <td class="col">@Html.DisplayFor(x => order.DeliveryAddress)</td>
                <td class="col">@Html.DisplayFor(x => order.DeliveredDate)</td>
                <td class="col">@Html.DisplayFor(x => order.Quantity)</td>
            </tr>
        }
    </table>
</div>
