@model List<LetsShopping.Models.Product>
@{
    ViewData["Title"] = "Product Page";
}

<div>

    <h3 class="text-center p-3">Products</h3>
    <p>
        @Html.TextBox("search")
        <input class="ml-3" type="submit" value="search" />
    </p>
    <table class="table">
        <tr class="row justify-content-md-center">
            <th class="col"></th>
            <th class="col">@Html.DisplayNameFor(x => x[0].Name)</th>
            <th class="col">@Html.DisplayNameFor(x => x[0].Price)</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr class="row justify-content-md-center">
                <td class="col"><img class="col-md-auto" src="~/images/placehold.jpg" alt="placeholder" /></td>
                <td class="col">@Html.DisplayFor(x => product.Name)</td>
                <td class="col">@Html.DisplayFor(x => product.Price)</td>
            </tr>
        }
    </table>
</div>
